build/
.cache/
Debug/
Release/
*.elf
*.bin
*.hex
*.map
*.log
__pycache__/
.eide/.cache/
*.bak
*.o
*.obj
*.a
*.d
*.su
*.exe
*.c_save
*.h_save
*.ioc_save
*.ioc.bak
.mxproject
MXTmpFiles/
.eide/*.log
.eide/*.old.yml
.eide/env.local.ini
.vscode/.browse*
.vscode/ipch/

