# CMSIS-DAP / STM32F407VET6, SWD; NRST recommended but software reset works without it.
source [find interface/cmsis-dap.cfg]
transport select swd
adapter speed 4000
source [find target/stm32f4x.cfg]
reset_config none
